@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: beatrice;
  src: url(../utils/fonts/beatrice.otf);
}

:root{
  --sineInOutQuint :cubic-bezier(0.83, 0, 0.17, 1);
  --sineInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
  --easeInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
  --white: #DAD1CF;
  --black: #252e30;
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
h1{
  font-family: beatrice;
}
*::selection{
  background: var(--black);
  color: var(--white);
}

